# Byte-compiled / Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/

# Caché de traducciones de DeepL
**/translations_cache.json

# Proyectos, vídeos, subtítulos y notas del usuario
data/

# Omitir archivos pesados o de salida por extensión (como respaldo)
*.mkv
*.mp4
*.tsv
*.csv
*.srt

# Archivos de configuración local o de sistema
.DS_Store
.vscode/
.idea/
